@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');

/* Pages */

body {
  background: linear-gradient(to top left, #ced9ed 25%, #cfc7fa 37.5%, #e2c6ee, #efc8dd 62.5%, #d7e9db);
  font-family: 'helvetica-neue', sans-serif;
  color: white;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  margin-bottom: 1.5%;
}

.header h1 {
  
  font-family: 'Inter', 'helvetica-neue', sans-serif;
  font-size: 250%;
  letter-spacing: .04rem;
}

.header h1,
.header h4 {
  color: #fff;
  text-decoration: none;
}

/* Home */

.form {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  width: 400px; /* Adjust the width as needed */
  margin: 0 auto;
  background: linear-gradient(to top left, #f0cfeb, #EFBDEB, #B68CB8, #6461A0, #314CB6, #0A81D1, #CEC9EC);
}

.form-input {
  flex: 1;
  border: none;
  padding: 16px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  color: #333;
}

.form-button {
  background: linear-gradient(to right, #4CAF50, #007BFF); /* Gradient background for the button */
  color: #fff;
  border: none;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

.nav-button {
  display: inline-block;
  padding: 16px 24px;
  
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(to right, #f0cfeb, #EFBDEB, #B68CB8, #6461A0, #314CB6, #0A81D1, #CEC9EC);
  transition: background 0.3s ease;
}

.nav-button:hover {
  background: linear-gradient(to right, #B68CB8, #6461A0, #314CB6, #0A81D1, #CEC9EC, #f0cfeb, #EFBDEB); /* Gradient on hover */
}

/* Feed */

#feed {
  margin-bottom: 40px;
}

/* Card */

.card {
  width: 600px; 
  margin: 0 auto;
  padding: 32px; 
  border-radius: 20px; 
  margin-bottom: 35px; 
  background: linear-gradient(to top left, #f0cfeb, #EFBDEB, #B68CB8, #6461A0, #314CB6, #0A81D1, #CEC9EC);
  transition: transform 0.3s ease;
  color: white;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 20px; 
}

.card p {
  text-align: center;
}

.card:hover {
  transform: scale(1.02); 
}

.heart,
.favorite-heart {
  cursor: pointer;
}

.heart {
  color: white;
}

.favorite-heart {
  color: rgb(247, 91, 255);
}